<template>
  <div class="about">
    <div class="visibility-hidden">About me</div>
    <div class="about__page">
      <section class="page__about-me">
        <div class="about-me__header">
          <span></span>
          <span></span>
          <h1>About me</h1>
          <span></span>
        </div>
        <div class="header__main">
          <span></span>
          <p>Everything started with passion to web technologies.
            In 2016 I got my first work as a junior front-end developer
            in
            <span class="header__company">
              <a
                href="https://www.dataplus.ru/"
                target="_blank">DATA+</a>
            </span>
            located in Moscow</p>
          <p>In our team we develop
            <span
              class="header__letter"
              title="Geographic">G</span>
            <span
              class="header__letter"
              title="Information">I</span>
            <span
              class="header__letter"
              title="System">S</span>
            project based on
            <span class="header__company">
              <a
                href="https://www.dataplus.ru/"
                target="_blank">ArcGIS</a>
            </span> technologies</p>
          <p></p>
          <p>Two years later I entered the magistracy in NRU HSE and joined to
            <span
              class="header__letter"
              title="Laboratory">L</span>
            <span
              class="header__letter"
              title="">A</span>
            <span
              class="header__letter"
              title="Methods">M</span>
            <span
              class="header__letter"
              title="Big">B</span>
            <span
              class="header__letter"
              title="Data">D</span>
            <span
              class="header__letter"
              title="Analysis">A</span>
            (Laboratory of Methods for Big Data Analysis) as intern</p>
          <span></span>
        </div>
        <div class="header__footer">
          <span></span>
          <span></span>
        </div>
      </section>
      <section class="page__content"></section>
    </div>
  </div>
</template>

<script>
  import NavigationComponent from "../NavigationComponent";

  export default {
    name: "About",
    components: {
      NavigationComponent
    }
  }
</script>

<style scoped>
  a:visited,
  a:hover,
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
  }

  .about {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #08fdd8;
    font-size: 18px;
  }

  .about__page {
    display: flex;
    background-color: #222;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }

  .about-me__header {
    display: flex;
    flex-direction: column;
  }

  .about__page section {
    position: relative;
    top: 10%;
    padding: 0 30px;
  }

  .about__page section:first-child {
    top: 10%;
  }

  .header__main {
    line-height: 18px;
    color: #ffffff;
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    font-size: 14px;
  }

  .header__main p {
    text-align: justify;
    padding: 10px 0;
    margin: 0 30px;
  }

  .header__company a {
    color: #08fdd8;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
  }

  .header__letter {
    color: #08fdd8;
    cursor: pointer;
  }

  .about-me__header > span {
    text-align: left;
  }

  .about-me__header > span:first-child::before {
    content: '<body>'
  }

  .about-me__header > span:nth-child(2)::before {
    content: '<h1>';
  }

  .about-me__header > span:nth-child(2),
  .about-me__header > span:last-child,
  .header__main > span:first-child,
  .header__main > span:last-child {
    padding-left: 20px;
  }

  .about-me__header > span:nth-child(1),
  .about-me__header > span:nth-child(2),
  .about-me__header > span:last-child,
  .header__main > span:first-child,
  .header__main > span:last-child,
  .header__footer > span:first-child,
  .header__footer > span:last-child {
    font-family: 'Permanent Marker', cursive;
  }

  .header__footer > span:last-child {
    margin-left: -20px;
  }

  .about-me__header > span:last-child::before {
    content: '</h1>';
  }

  .header__main > span:first-child,
  .header__main > span:last-child,
  .header__footer > span:first-child,
  .header__footer > span:last-child {
    display: flex;
  }

  .header__main > span:first-child::before {
    content: '<p>';
  }

  .header__main > span:last-child::after {
    content: '</p>';
  }

  .header__footer > span:first-child::before {
    content: '</body>';
  }

  .header__footer > span:last-child::before {
    content: '</html>';
  }

  @media (min-width: 768px) {
    .about__page section {
      top: 20%;
      width: 50%;
      height: 100%;
    }

    .about__page section:first-child {
      top: 20%;
    }

    .about__page {
      flex-direction: row;
    }
  }

  @media (min-width: 1200px) {
    .about__page section:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10%;
      position: relative;
      top: 0;
    }

    .page__about-me {
      padding-left: 10%;
    }

    .contact__header p {
      margin: 10px 0;
    }
  }
</style>
