<template>
  <div class="contact">
    <div class="visibility-hidden">Contact</div>
    <div class="contact__page">
      <section class="page__contact">
        <div class="contact__header">
          <span></span>
          <span></span>
          <h1>Contact me</h1>
          <span></span>
        </div>
        <div class="contact__main">
          <span></span>
          <span class="contact__wrapper">
            <p>If you have any questions, please don’t hesitate to contact using form below…</p>
          </span>
          <span></span>
          <span></span>
          <form
            class="main__form"
            autocomplete="off">
            <ul>
              <li>
                <label class="form__label">
                  <input
                    class="form__input"
                    placeholder="Name"
                    type="text"/>
                </label>
                <label class="form__label">
                  <input
                    class="form__input"
                    placeholder="Email"
                    type="text"/>
                </label>
              </li>
              <li>
                <label class="form__label">
                  <input
                    class="form__input"
                    placeholder="Subject"
                    type="text"/>
                </label>
              </li>
              <li>
                <label class="form__label">
                  <textarea placeholder="Message"></textarea>
                </label>
              </li>
            </ul>
            <span class="form__button-wrapper">
                <button>send</button>
            </span>
          </form>
          <span></span>
        </div>
        <div class="contact__footer">
          <span></span>
          <span></span>
        </div>
      </section>
      <section class="page__map"></section>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Contact"
  }
</script>

<style scoped>
  textarea {
    resize: vertical;
  }

  .contact {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #08fdd8;
    font-size: 18px;
  }

  .contact__page {
    display: flex;
    background-color: #222;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }

  .page__contact {
    top: 15%;
    position: relative;
    padding: 0 30px;
  }

  .page__contact div {
    position: relative;
    margin: 20px 0;
  }

  .main__form input[type=text],
  .main__form input[type=email],
  .main__form textarea {
    border: 0;
    background: #37393b;
    height: 50px;
    font-size: 16px;
    color: #08FDD8;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    outline: none;
  }

  .main__form input[type=text]:focus,
  .main__form input[type=email]:focus,
  .main__form textarea:focus {
    border-bottom: 1px solid #08FDD8;
  }

  .contact__wrapper {
    line-height: 18px;
    color: #ffffff;
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    font-size: 14px;
  }

  .contact__header {
    display: flex;
    flex-direction: column;
  }

  .contact__header > span:first-child::before {
    content: '<body>'
  }

  .contact__header > span:nth-child(2)::before {
    content: '<h1>';
  }

  .contact__header > span {
    text-align: left;
  }

  .contact__main {
    display: flex;
    flex-direction: column;
  }

  .contact__header > span:nth-child(2),
  .contact__header > span:last-child,
  .contact__main > span:first-child,
  .contact__main > span:last-child,
  .contact__main > span:nth-child(3),
  .contact__main > span:nth-child(4),
  .contact__main > span:nth-child(6)  {
    padding-left: 20px;
  }

  .contact__header > span:nth-child(1),
  .contact__header > span:nth-child(2),
  .contact__header > span:last-child,
  .contact__main > span:first-child,
  .contact__main > span:last-child,
  .contact__footer > span:first-child,
  .contact__footer > span:last-child,
  .contact__main > span:nth-child(3),
  .contact__main > span:nth-child(4),
  .contact__main > span:nth-child(6) {
    font-family: 'Permanent Marker', cursive;
    text-align: left;
  }

  .contact__footer > span:last-child {
    margin-left: -20px;
  }

  .contact__header > span:last-child::before {
    content: '</h1>';
  }

  .contact__main > span:first-child,
  .contact__main > span:last-child,
  .contact__footer > span:first-child,
  .contact__footer > span:last-child {
    display: flex;
  }

  .contact__main > span:nth-child(1)::before {
    content: '<p>';
  }

  .contact__main > span:nth-child(3)::after {
    content: '</p>';
  }

  .contact__main > span:nth-child(4)::after {
    content: '<form>';
  }

  .contact__main > span:nth-child(6)::after {
    content: '</form>';
  }

  .contact__footer > span:first-child::after {
    content: '</body>';
  }

  .contact__footer > span:last-child::after {
    content: '</html>';
  }

  .form__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .form__button-wrapper button {
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    margin-right: 10px;
  }

  @media (min-width: 768px) {
    .contact__page {
      flex-direction: column;
    }

    .contact__page section {
      width: 50%;
      height: 100%;
    }
  }

  @media (min-width: 1200px) {
    .page__contact {
      top: 10%;
      position: relative;
      padding: 0 30px;
      left: 5%;
    }

    .contact__header {
      position: relative;
      top: 5%;
    }

    .contact__main {
      position: relative;
      top: 15%;
      margin: 0 10%;
    }

    .main__form {
      text-align: justify;
      padding: 10px 0;

    }

    .main__form ul li:first-child {
      display: flex;
      width: 100%;
    }

    .form__label {
      width: 50%;
      margin: 0 5px;
    }

    .main__form ul li {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
    }

    .main__form > span {
      display: flex;
      flex-direction: row;
    }

    .main__form input[type=text],
    .main__form input[type=email],
    .main__form textarea {
      border: 0;
      background: #37393b;
      height: 50px;
      font-size: 16px;
      color: #08FDD8;
      padding: 0 20px;
      box-sizing: border-box;
      margin: 0 10px;
    }

    .form__label::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }

    .form__label::before + .main__form input:focus {
      margin-top: 2px;
      border-bottom: 2px solid #08FDD8;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
    }

    .form__input {
      width: 100%;
    }

    .main__form textarea {
      width: 98%;
    }

    .page__contact > section {
      top: 0;
      width: 50%;
      height: 100%;
    }

    .page__contact > h1 {
      margin: 0;
      padding: 0;
      font-family: 'Permanent Marker', cursive;
      color: #08fdd8;
    }

    .page__contact > div:last-child {
      position: absolute;
      margin-top: 6%;
    }
  }
</style>
