<template>
  <div class="home">
    <div class="visibility-hidden">Home</div>
    <div class="home__page">
      <section>
        <div class="home__header">
          <span></span>
        </div>
        <div class="home__main">
          <span></span>
          <div>
            <span class="animated">H</span>
            <span class="animated">i</span>
            <span class="animated">,</span>
            <br/>
            <span class="animated">I</span>
            <span class="animated">'</span>
            <span class="animated">m &nbsp;</span>
            <span class="animated">A</span>
            <span class="animated">l</span>
            <span class="animated">e</span>
            <span class="animated">x</span>
            <br/>
            <span class="animated">w</span>
            <span class="animated">e</span>
            <span class="animated">b &nbsp;</span>
            <span class="animated">d</span>
            <span class="animated">e</span>
            <span class="animated">v</span>
            <span class="animated">e</span>
            <span class="animated">l</span>
            <span class="animated">o</span>
            <span class="animated">p</span>
            <span class="animated">e</span>
            <span class="animated">r</span>
          </div>
          <span></span>
        </div>
        <div class="home__footer">
          <span></span>
          <span></span>
        </div>
      </section>
      <section>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="300"
          height="300"
          viewBox="0 0 200 200">
          <g
            transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)"
            stroke="none">
            <path d="M700 1710 l0 -40 -40 0 -40 0 0 -45 0 -45 -45 0 -45 0 0 -85 0 -85
              -40 0 -40 0 0 -170 0 -170 40 0 40 0 0 -84 0 -84 45 -4 45 -3 0 172 0 173 40
              0 40 0 0 45 0 45 45 0 45 0 0 40 0 40 40 0 40 0 0 -40 0 -40 85 0 c91 0 89 -1
              87 58 -1 20 4 22 43 22 l45 0 0 -40 0 -40 85 0 85 0 0 -45 0 -45 45 0 45 0 0
              -170 0 -170 40 0 40 0 0 85 0 85 45 0 45 0 0 170 0 170 -45 0 -45 0 0 45 0 45
              -40 0 -40 0 0 85 0 85 -45 0 -45 0 0 -45 0 -45 -40 0 -40 0 0 45 0 45 -130 0
              -130 0 0 40 0 40 -40 0 -40 0 0 -40 0 -40 -45 0 -45 0 0 40 0 40 -45 0 -45 0
              0 -40z" fill="#000000"/>
            <path d="M1221 578 c1 -7 1 -52 0 -100 l-1 -88 -45 0 -45 0 0 -45 0 -45 -125
              0 -125 0 0 45 0 45 -45 0 -45 0 0 84 c0 97 1 96 -108 88 l-62 -4 0 -44 0 -44
              -45 0 -45 0 0 -40 0 -40 -40 0 -40 0 0 -45 0 -45 -45 0 -45 0 0 -85 0 -85 85
              0 85 0 0 -65 0 -65 470 0 470 0 0 65 0 65 85 0 85 0 0 85 0 85 -40 0 -40 0 0
              45 0 45 -45 0 -45 0 0 40 0 40 -40 0 -40 0 0 45 0 45 -57 0 c-67 0 -105 9 -97
              21 3 5 0 9 -6 9 -6 0 -10 -6 -9 -12z" v-bind:fill="colorChanger"/>
          </g>
        </svg>
      </section>
    </div>
  </div>

</template>

<script>
  import NavigationComponent from "../NavigationComponent";

  export default {
    name: "Home",
    components: {
      NavigationComponent
    },
    computed: {
      colorChanger() {
        let letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }
    }
  }
</script>

<style scoped>
  .home {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #08fdd8;
    font-size: 18px;
  }

  .home__page {
    display: flex;
    background-color: #222;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }

  .home__page section {
    position: relative;
    top: 10%;
    padding: 0 30px;
  }

  .home__page section:last-child {
    display: none;
  }

  .home__header > span:first-child,
  .home__main > span:first-child,
  .home__main > span:last-child,
  .home__header > span:first-child,
  .home__main > span:first-child,
  .home__main > span:last-child,
  .home__footer > span:first-child,
  .home__footer > span:last-child{
    display: flex;
    justify-content: start;
  }

  .home__main > span:first-child,
  .home__main > span:last-child {
    padding-left: 20px;
  }

  .home__footer > span:last-child {
    margin-left: -20px;
  }

  .home__header > span:first-child::before {
    content: '<body>'
  }

  .home__main > span:first-child::before {
    content: '<h1>'
  }

  .home__main > span:last-child::before {
    content: '</h1>'
  }

  .home__footer > span:first-child::before {
    content: '</body>'
  }
  .home__footer > span:last-child::before {
    content: '</html>'
  }

  .home__header > span:first-child::before,
  .home__main > span:first-child::before,
  .home__main > span:last-child::before {
    font-family: 'Permanent Marker', cursive;
  }

  .animated:first-child {
    color: #08fdd8;
  }

  .animated {
    display: inline-block;
    opacity: 1;
    transition: all 0.3s ease-out;
    color: #ffffff;
    font-size: 54px;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
  }

  .animated:hover {
    color: #08fdd8;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .home__page section {
      top: 20%;
    }

    .home__page section:last-child {
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 1200px) {
    .home__page {
      flex-direction: row;
    }

    .home__page > section {
      top: 0;
      width: 50%;
      height: 100%;
    }

    .home__page > section:first-child {
      padding-left: 10%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .home__page > section:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .home__main > div {
      text-align: left;
    }
  }
</style>
