<template>
  <div class="skills">
    <div class="visibility-hidden">Skills</div>
    <div class="skills__page">
      <section class="page__skills">
        <div class="skills__header">
          <span></span>
          <span></span>
          <h1>Skills & Experience</h1>
          <span></span>
        </div>
        <div class="skills__main">
          <span></span>
          <p>
            Main area of my expertise is front-end development and everything
            related with this side of web. HTML, CSS, LESS, JS (ES5,ES6),
            building small & medium Web Apps, React, VueJS,
            features, animations and just coding layouts.
          </p>
          <p>
            Often I work as a full-stack developer. I have some experience
            with Node.js. Also I involve continuous integration and continuous
            delivery into processes in my team.
          </p>
          <p>
            Would like to know more? Please check my
            <span class="skills__company">
              <a
                href="https://www.linkedin.com/in/александр-сивцов-424a7212a/"
                target="_blank">LinkedIn</a>
            </span>
            profile
            or just contact me.
          </p>
          <span></span>
        </div>
        <div class="skills__footer">
          <span></span>
          <span></span>
        </div>
      </section>
      <section class="page__content"></section>
    </div>
  </div>
</template>

<script>
  import NavigationComponent from "../NavigationComponent";

  export default {
    name: "Skills",
    components: {
      NavigationComponent
    }
  }
</script>

<style scoped>
  a:visited,
  a:hover,
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
  }

  .skills {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #08fdd8;
    font-size: 18px;
  }

  .skills__page {
    display: flex;
    background-color: #222;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }

  .skills__header {
    display: flex;
    flex-direction: column;
  }
  .skills__footer {}

  .skills__main {
    line-height: 18px;
    color: #ffffff;
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    font-size: 14px;
  }

  .skills__main p {
    text-align: justify;
    padding: 10px 0;
    margin: 0 30px;
  }

  .skills__page section {
    position: relative;
    padding: 0 30px;
  }

  .skills__page section:first-child {
    top: 10%;
  }

  .skills__company a {
    color: #08fdd8;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
  }

  .skills__header > span {
    text-align: left;
  }

  .skills__header > span:first-child::before {
    content: '<body>'
  }

  .skills__header > span:nth-child(2)::before {
    content: '<h1>';
  }

  .skills__header > span:nth-child(2),
  .skills__header > span:last-child,
  .skills__main > span:first-child,
  .skills__main > span:last-child {
    padding-left: 20px;
  }

  .skills__header > span:nth-child(1),
  .skills__header > span:nth-child(2),
  .skills__header > span:last-child,
  .skills__main > span:first-child,
  .skills__main > span:last-child,
  .skills__footer > span:first-child,
  .skills__footer > span:last-child {
    font-family: 'Permanent Marker', cursive;
  }

  .skills__footer > span:last-child {
    margin-left: -20px;
  }

  .skills__header > span:last-child::before {
    content: '</h1>';
  }

  .skills__main > span:first-child,
  .skills__main > span:last-child,
  .skills__footer > span:first-child,
  .skills__footer > span:last-child {
    display: flex;
  }

  .skills__main > span:first-child::before {
    content: '<p>';
  }

  .skills__main > span:last-child::after {
    content: '</p>';
  }

  .skills__footer > span:first-child::before {
    content: '</body>';
  }

  .skills__footer > span:last-child::before {
    content: '</html>';
  }

  @media (min-width: 768px) {
    .skills__page section {
      top: 20%;
      width: 50%;
    }

    .skills__page {
      flex-direction: column;
    }
  }

  @media (min-width: 1200px) {

    .skills__page section:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10%;
      position: relative;
      top: 0;
      height: 100%;
    }

    .skills__page div:last-child {
      display: flex;
      flex-direction: column;
    }

    .page__skills {
      padding-left: 10%;
    }
  }
</style>
