<template>
  <div class="works">
    <div class="visibility-hidden">Works</div>
    <div class="works__page"></div>
  </div>
</template>

<script>
  import NavigationComponent from "../NavigationComponent";

  export default {
    name: "Works",
    components: {
      NavigationComponent
    }
  }
</script>

<style scoped>
  .works {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #08fdd8;
    font-size: 18px;
  }

  .works__page {
    display: flex;
    background-color: #222;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }
</style>
