<template>
  <ul class="mobile">
    <li>
      <router-link to="/">
        <a
          class="mobile__page-item"
          name="HOME">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 612 612">
            <path d="M612,286.875L306,0L0,286.875v57.968l76.5-71.719V612h459V273.124l76.5,71.719V286.875z M498.34,574.936H114.846V237.169
                    L306,57.968l192.34,180.33V574.936z" fill="#4DDBA2"/>
          </svg>
        </a>
      </router-link>
    </li>
    <li>
      <router-link to="/About">
        <a
          class="mobile__page-item"
          name="ABOUT">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 294.812 294.812">
            <path d="M251.654,43.164c-57.479-57.48-151.006-57.48-208.485,0C23.002,63.331,9.207,88.667,3.274,116.434
                c-5.776,27.037-3.884,55.049,5.471,81.006c1.124,3.117,4.563,4.733,7.679,3.61c3.118-1.124,4.734-4.562,3.61-7.679
                c-8.595-23.849-10.333-49.586-5.025-74.431c5.447-25.496,18.119-48.766,36.645-67.292c52.801-52.801,138.714-52.801,191.515,0
                c25.145,25.146,39.221,58.571,39.634,94.12c0.413,35.484-12.811,69.176-37.234,94.868c-0.289,0.304-0.575,0.61-0.861,0.916
                c-0.506,0.541-1.011,1.083-1.539,1.611c-52.801,52.801-138.714,52.801-191.515,0c-0.281-0.281-0.555-0.567-0.826-0.853
                c-0.014-0.554-0.026-1.1-0.026-1.638c0-1.208,0.023-2.411,0.067-3.61c0.015-0.401,0.045-0.798,0.065-1.198
                c0.039-0.797,0.076-1.594,0.134-2.387c0.035-0.473,0.086-0.941,0.128-1.412c0.063-0.715,0.122-1.43,0.2-2.141
                c0.055-0.502,0.127-1,0.19-1.5c0.085-0.675,0.166-1.352,0.266-2.024c0.076-0.512,0.166-1.019,0.25-1.528
                c0.107-0.655,0.211-1.31,0.332-1.961c0.095-0.515,0.204-1.025,0.308-1.537c0.129-0.639,0.256-1.279,0.398-1.914
                c0.115-0.515,0.243-1.027,0.366-1.539c0.15-0.625,0.299-1.25,0.461-1.87c0.135-0.514,0.281-1.024,0.423-1.535
                c0.171-0.612,0.341-1.225,0.524-1.833c0.153-0.51,0.317-1.016,0.479-1.522c0.192-0.601,0.384-1.203,0.587-1.799
                c0.172-0.503,0.352-1.003,0.532-1.503c0.213-0.592,0.427-1.184,0.651-1.772c0.19-0.497,0.387-0.989,0.585-1.482
                c0.233-0.581,0.468-1.162,0.712-1.738c0.208-0.49,0.422-0.976,0.638-1.462c0.253-0.571,0.509-1.14,0.773-1.705
                c0.225-0.481,0.455-0.959,0.688-1.436c0.274-0.561,0.551-1.121,0.835-1.676c0.241-0.47,0.486-0.938,0.735-1.404
                c0.294-0.552,0.593-1.102,0.898-1.649c0.257-0.46,0.517-0.918,0.781-1.373c0.314-0.541,0.633-1.079,0.958-1.615
                c0.273-0.45,0.549-0.898,0.829-1.344c0.334-0.53,0.673-1.057,1.017-1.58c0.288-0.439,0.578-0.876,0.873-1.31
                c0.353-0.52,0.714-1.034,1.078-1.547c0.303-0.427,0.606-0.853,0.916-1.274c0.373-0.508,0.754-1.011,1.137-1.511
                c0.317-0.414,0.633-0.828,0.957-1.237c0.393-0.497,0.795-0.988,1.198-1.477c0.329-0.4,0.658-0.8,0.994-1.195
                c0.414-0.486,0.837-0.965,1.261-1.443c0.342-0.386,0.682-0.773,1.03-1.153c0.434-0.474,0.877-0.939,1.321-1.404
                c0.354-0.372,0.706-0.745,1.066-1.112c0.455-0.462,0.92-0.914,1.384-1.368c0.364-0.355,0.725-0.714,1.095-1.064
                c0.478-0.452,0.967-0.893,1.454-1.335c0.372-0.337,0.739-0.678,1.116-1.01c0.503-0.443,1.019-0.873,1.532-1.306
                c0.376-0.317,0.748-0.639,1.129-0.951c0.531-0.434,1.075-0.855,1.617-1.279c0.378-0.295,0.75-0.597,1.132-0.887
                c0.571-0.433,1.154-0.851,1.736-1.271c0.367-0.266,0.727-0.538,1.099-0.799c0.642-0.451,1.299-0.886,1.954-1.323
                c0.323-0.215,0.639-0.438,0.964-0.65c0.854-0.555,1.723-1.092,2.598-1.622c0.136-0.082,0.268-0.17,0.405-0.252
                c1.012-0.606,2.038-1.194,3.076-1.766c0.355-0.195,0.72-0.378,1.079-0.569c0.689-0.368,1.376-0.739,2.077-1.091
                c0.449-0.226,0.909-0.438,1.362-0.657c0.572-0.277,1.142-0.557,1.721-0.824c10.875,10.388,25.382,16.269,40.44,16.269
                c15.058,0,29.566-5.882,40.441-16.271c21.229,9.825,38.604,27.454,48.037,48.892c1.334,3.032,4.873,4.411,7.908,3.076
                c3.033-1.335,4.41-4.876,3.075-7.908c-10.318-23.45-28.281-42.189-51.018-53.501c6.597-9.677,10.166-21.104,10.166-32.896
                c0-32.317-26.292-58.609-58.609-58.609c-3.313,0-6,2.687-6,6s2.687,6,6,6c25.701,0,46.609,20.909,46.609,46.609
                c0,11.492-4.271,22.558-12.025,31.157c-0.001,0.001-0.002,0.002-0.003,0.003c-8.854,9.818-21.458,15.449-34.582,15.449
                s-25.729-5.631-34.582-15.449c-0.001-0.002-0.003-0.003-0.005-0.004c-7.753-8.602-12.023-19.665-12.023-31.155
                c0-12.544,4.911-24.312,13.829-33.134c2.356-2.331,2.376-6.13,0.045-8.485c-2.33-2.357-6.129-2.375-8.485-0.046
                C94.978,80.023,88.802,94.82,88.802,110.594c0,11.78,3.56,23.199,10.146,32.871c-0.059,0.029-0.116,0.061-0.174,0.091
                c-0.468,0.234-0.925,0.482-1.389,0.721c-0.711,0.368-1.424,0.734-2.125,1.117c-0.496,0.27-0.981,0.554-1.472,0.831
                c-0.655,0.371-1.311,0.74-1.957,1.123c-0.501,0.298-0.994,0.606-1.49,0.911c-0.62,0.382-1.24,0.763-1.851,1.156
                c-0.499,0.321-0.989,0.651-1.482,0.979c-0.593,0.395-1.185,0.792-1.769,1.198c-0.491,0.342-0.976,0.691-1.461,1.04
                c-0.57,0.411-1.138,0.824-1.699,1.245c-0.481,0.361-0.956,0.727-1.43,1.095c-0.55,0.427-1.096,0.857-1.636,1.294
                c-0.468,0.378-0.932,0.761-1.394,1.146c-0.531,0.444-1.058,0.893-1.58,1.347c-0.453,0.393-0.903,0.789-1.349,1.19
                c-0.515,0.463-1.023,0.931-1.528,1.403c-0.436,0.407-0.871,0.815-1.301,1.23c-0.499,0.482-0.99,0.971-1.48,1.462
                c-0.418,0.419-0.836,0.837-1.246,1.262c-0.485,0.503-0.961,1.015-1.436,1.527c-0.397,0.428-0.797,0.854-1.187,1.289
                c-0.475,0.528-0.937,1.067-1.401,1.604c-0.373,0.432-0.749,0.86-1.115,1.297c-0.471,0.563-0.927,1.137-1.386,1.709
                c-0.341,0.426-0.689,0.846-1.024,1.277c-0.482,0.62-0.948,1.252-1.416,1.882c-0.294,0.396-0.596,0.785-0.884,1.185
                c-0.592,0.82-1.165,1.652-1.733,2.488c-0.149,0.22-0.307,0.434-0.455,0.655c-0.707,1.056-1.394,2.124-2.063,3.204
                c-0.231,0.373-0.448,0.754-0.674,1.129c-0.433,0.719-0.868,1.437-1.285,2.166c-0.26,0.455-0.506,0.918-0.759,1.377
                c-0.365,0.66-0.732,1.318-1.082,1.986c-0.26,0.495-0.506,0.996-0.759,1.495c-0.326,0.644-0.653,1.287-0.966,1.938
                c-0.249,0.518-0.486,1.042-0.727,1.563c-0.296,0.643-0.593,1.285-0.877,1.934c-0.234,0.535-0.458,1.075-0.683,1.614
                c-0.271,0.647-0.54,1.294-0.798,1.946c-0.217,0.548-0.425,1.099-0.633,1.65c-0.246,0.654-0.489,1.309-0.723,1.968
                c-0.198,0.559-0.39,1.121-0.58,1.684c-0.223,0.661-0.44,1.324-0.65,1.991c-0.179,0.567-0.352,1.136-0.522,1.706
                c-0.2,0.673-0.393,1.348-0.58,2.026c-0.158,0.572-0.313,1.145-0.462,1.721c-0.177,0.685-0.345,1.373-0.509,2.063
                c-0.137,0.576-0.273,1.151-0.4,1.729c-0.154,0.699-0.297,1.402-0.437,2.106c-0.115,0.576-0.232,1.152-0.338,1.731
                c-0.131,0.718-0.249,1.44-0.366,2.163c-0.092,0.57-0.189,1.139-0.272,1.711c-0.109,0.746-0.201,1.496-0.295,2.246
                c-0.069,0.556-0.145,1.111-0.206,1.669c-0.086,0.786-0.152,1.577-0.221,2.368c-0.046,0.527-0.101,1.052-0.139,1.582
                c-0.064,0.883-0.106,1.77-0.149,2.658c-0.021,0.441-0.054,0.879-0.07,1.321c-0.048,1.332-0.075,2.669-0.075,4.011
                c0,1.449,0.049,2.819,0.108,4.332c0.014,0.35,0.063,0.69,0.133,1.022c0.006,0.026,0.009,0.052,0.015,0.078
                c0.074,0.327,0.178,0.641,0.303,0.945c0.012,0.03,0.023,0.06,0.036,0.09c0.129,0.3,0.283,0.586,0.457,0.858
                c0.022,0.034,0.043,0.068,0.065,0.101c0.179,0.267,0.378,0.518,0.595,0.752c0.016,0.017,0.027,0.038,0.043,0.055l0.792,0.843
                c0.598,0.64,1.196,1.278,1.82,1.901c28.74,28.74,66.491,43.11,104.243,43.11s75.503-14.37,104.243-43.11
                c0.624-0.623,1.222-1.262,1.82-1.901l0.792-0.843c26.589-27.971,40.985-64.647,40.536-103.275
                C294.352,106.928,279.028,70.538,251.654,43.164z" fill="#4DDBA2"/>

          </svg>
        </a>
      </router-link>
    </li>
    <li>
      <router-link to="/Skills">
        <a
          class="mobile__page-item"
          name="SKILLS">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 60 60"
            width="20"
            height="20">
            <path d="M59,16H56.95c-0.221-3.108-1.455-5.934-3.381-8.154l1.139-1.139c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0
                l-1.139,1.139c-2.22-1.926-5.047-3.16-8.154-3.381V1c0-0.553-0.448-1-1-1s-1,0.447-1,1v2.051c-3.108,0.221-5.934,1.455-8.154,3.381
                l-1.139-1.139c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l1.139,1.139c-1.926,2.22-3.16,5.047-3.381,8.154H27
                c-0.552,0-1,0.447-1,1s0.448,1,1,1h2.051c0.221,3.108,1.455,5.934,3.381,8.154l-1.139,1.139c-0.112,0.112-0.183,0.246-0.23,0.386
                c-1.16-1.052-2.452-1.956-3.856-2.68l0.708-1.593c0.224-0.505-0.003-1.096-0.508-1.32c-0.506-0.223-1.095,0.004-1.32,0.508
                l-0.709,1.595C23.392,23.433,21.248,23,19,23c-1.948,0-3.82,0.321-5.579,0.896l-0.489-1.258c-0.2-0.515-0.781-0.771-1.294-0.569
                c-0.515,0.199-0.77,0.779-0.57,1.294l0.492,1.267c-3.69,1.684-6.71,4.571-8.561,8.165l-1.593-0.708
                c-0.505-0.223-1.095,0.004-1.32,0.508c-0.224,0.505,0.003,1.096,0.508,1.32l1.595,0.708C1.433,36.609,1,38.753,1,41
                c0,1.948,0.321,3.821,0.896,5.579l-1.258,0.489c-0.515,0.2-0.77,0.779-0.57,1.294C0.222,48.758,0.6,49,1.001,49
                c0.12,0,0.243-0.021,0.362-0.068l1.267-0.492c1.684,3.69,4.571,6.711,8.165,8.562l-0.708,1.593
                c-0.224,0.505,0.003,1.096,0.508,1.32C10.726,59.973,10.864,60,11,60c0.383,0,0.749-0.222,0.915-0.594l0.709-1.595
                C14.609,58.568,16.753,59,19,59c1.948,0,3.82-0.321,5.579-0.896l0.489,1.258C25.222,59.758,25.6,60,26,60
                c0.121,0,0.243-0.021,0.362-0.068c0.515-0.199,0.77-0.779,0.57-1.294l-0.492-1.267c3.69-1.684,6.71-4.571,8.561-8.165l1.593,0.708
                C36.726,49.973,36.864,50,37,50c0.383,0,0.749-0.222,0.915-0.594c0.224-0.505-0.003-1.096-0.508-1.32l-1.595-0.708
                C36.568,45.392,37,43.248,37,41c0-1.948-0.321-3.821-0.896-5.579l1.258-0.489c0.515-0.2,0.77-0.779,0.57-1.294
                c-0.199-0.515-0.775-0.772-1.294-0.569l-1.267,0.492c-0.776-1.701-1.809-3.255-3.05-4.623c0.14-0.048,0.274-0.119,0.386-0.23
                l1.139-1.139c2.22,1.926,5.047,3.16,8.154,3.381V33c0,0.553,0.448,1,1,1s1-0.447,1-1v-2.051c3.108-0.221,5.934-1.455,8.154-3.381
                l1.198,1.198c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414l-1.198-1.198
                c1.926-2.22,3.16-5.047,3.381-8.154H59c0.552,0,1-0.447,1-1S59.553,16,59,16z M19,25c1.959,0,3.828,0.371,5.565,1.018l-4.91,11.048
                C19.441,37.031,19.224,37,19,37c-2.206,0-4,1.794-4,4c0,0.159,0.029,0.31,0.047,0.465l-11.289,4.39C3.269,44.323,3,42.693,3,41
                C3,32.178,10.178,25,19,25z M17.144,41.732c-0.001-0.003,0-0.006-0.002-0.009c-0.001-0.001-0.002-0.002-0.003-0.004
                C17.053,41.495,17,41.254,17,41c0-1.103,0.897-2,2-2c0.279,0,0.544,0.058,0.786,0.162c0.009,0.004,0.015,0.013,0.024,0.017
                c0.004,0.002,0.008,0.001,0.012,0.002C20.515,39.496,21,40.191,21,41c0,1.103-0.897,2-2,2C18.156,43,17.437,42.473,17.144,41.732z
                 M4.497,47.713l11.267-4.382C16.491,44.338,17.667,45,19,45c0.159,0,0.31-0.029,0.465-0.047l4.39,11.289
                C22.323,56.731,20.693,57,19,57C12.577,57,7.041,53.187,4.497,47.713z M25.714,55.504l-4.382-11.267C22.338,43.509,23,42.334,23,41
                c0-1.265-0.602-2.381-1.521-3.115l4.916-11.06C31.502,29.501,35,34.846,35,41C35,47.423,31.188,52.959,25.714,55.504z M43,29
                c-6.617,0-12-5.383-12-12S36.384,5,43,5s12,5.383,12,12S49.617,29,43,29z" fill="#4DDBA2"/>
            <path d="M43,13c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S45.206,13,43,13z M43,19c-1.103,0-2-0.897-2-2s0.897-2,2-2
                s2,0.897,2,2S44.103,19,43,19z" fill="#4DDBA2"/>
          </svg>
        </a>
      </router-link>
    </li>
    <li>
      <router-link to="/Works">
        <a
          class="mobile__page-item"
          name="MY WORK">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 480 480">
            <path d="M392,0H88C65.92,0.026,48.026,17.92,48,40v216c0.026,22.08,17.92,39.974,40,40h109.392l-11.424,40H160v16h160v-16h-25.968
                  l-11.424-40H392c22.08-0.026,39.974-17.92,40-40V40C431.974,17.92,414.08,0.026,392,0z M202.608,336l11.424-40h51.936l11.424,40
                  H202.608z M416,256c0,13.255-10.745,24-24,24H88c-13.255,0-24-10.745-24-24v-16h352V256z M416,224H64V40c0-13.255,10.745-24,24-24
                  h304c13.255,0,24,10.745,24,24V224z" fill="#4DDBA2"/>
            <path d="M304,368H80c-4.418,0-8,3.582-8,8v96c0,4.418,3.582,8,8,8h224c4.418,0,8-3.582,8-8v-96C312,371.582,308.418,368,304,368z
                   M296,464H88v-80h208V464z" fill="#4DDBA2"/>
            <rect x="104" y="432" width="16" height="16" fill="#4DDBA2"/>
            <rect x="104" y="400" width="16" height="16" fill="#4DDBA2"/>
            <rect x="136" y="400" width="16" height="16" fill="#4DDBA2"/>
            <rect x="168" y="400" width="16" height="16" fill="#4DDBA2"/>
            <rect x="232" y="400" width="16" height="16" fill="#4DDBA2"/>
            <rect x="200" y="400" width="16" height="16" fill="#4DDBA2"/>
            <rect x="264" y="432" width="16" height="16" fill="#4DDBA2"/>
            <rect x="264" y="400" width="16" height="16" fill="#4DDBA2"/>
            <rect x="136" y="432" width="112" height="16" fill="#4DDBA2"/>
            <path d="M368,368c-22.091,0-40,17.909-40,40v32c0,22.091,17.909,40,40,40c22.091,0,40-17.909,40-40v-32
                  C408,385.909,390.091,368,368,368z M392,440c0,13.255-10.745,24-24,24s-24-10.745-24-24v-32c0-13.255,10.745-24,24-24
                  s24,10.745,24,24V440z" fill="#4DDBA2"/>
            <rect x="360" y="400" width="16" height="16" fill="#4DDBA2"/>
            <rect x="181.737" y="120.139" transform="matrix(0.2751 -0.9614 0.9614 0.2751 50.7457 323.5759)"
                  fill="#4DDBA2" width="116.43" height="15.993"/>
            <path d="M197.12,94.144l-10.24-12.288l-48,40c-3.393,2.83-3.85,7.874-1.02,11.268c0.309,0.37,0.65,0.712,1.02,1.02l48,40
                  l10.24-12.288L156.496,128L197.12,94.144z" fill="#4DDBA2"/>
            <path d="M342.14,122.876c-0.309-0.37-0.65-0.712-1.02-1.02l-48-40l-10.24,12.288L323.504,128l-40.624,33.856l10.24,12.288l48-40
                  C344.513,131.314,344.97,126.27,342.14,122.876z" fill="#4DDBA2"/>
          </svg>
        </a>
      </router-link>
    </li>
    <li>
      <router-link to="/Contact">
        <a
          class="mobile__page-item"
          name="CONTACT">
          <svg
            width="20"
            height="20"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512.001 512.001">
            <path d="M501.801,90.455H10.199C4.567,90.455,0,95.021,0,100.654v268.728c0,28.764,23.4,52.165,52.165,52.165h407.671
                c28.764,0,52.165-23.401,52.165-52.165V100.654C512,95.021,507.433,90.455,501.801,90.455z M491.602,369.381
                c0,17.516-14.25,31.766-31.766,31.766H52.165c-17.516,0-31.766-14.251-31.766-31.766V122.906l229.14,187.584
                c1.88,1.538,4.17,2.307,6.461,2.307c2.287,0,4.574-0.767,6.452-2.3l177.306-144.829c4.362-3.564,5.01-9.988,1.447-14.351
                c-3.565-4.363-9.988-5.011-14.351-1.446L256.007,289.423L37.879,110.853h453.723V369.381z" fill="#4DDBA2"/>
            <path d="M469.923,127.859c-3.563-4.363-9.99-5.011-14.35-1.447l-3.06,2.499c-4.363,3.564-5.011,9.988-1.448,14.351
                c2.015,2.468,4.948,3.747,7.905,3.747c2.269,0,4.552-0.754,6.445-2.3l3.06-2.499C472.838,138.647,473.486,132.222,469.923,127.859
                z" fill="#4DDBA2"/>
          </svg>
        </a>
      </router-link>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "MobileButtons"
  }
</script>

<style scoped>
  .mobile {
    display: flex;
    transition: all 0.3s ease-out;
  }

  .mobile li {
    height: 60px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #37393b;
    background-color: #181818;
  }

  .mobile__page-item {
    display: flex;
    text-decoration: none;
  }

  .mobile__page-item p {
    font-size: 20px;
    letter-spacing: 2px;
    color: #4DDBA2;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    .mobile__page-item:hover > svg {
      display: none;
      transition: all 0.3s ease-out;
    }

    .mobile__page-item:hover::after {
      content: attr(name);
      font-size: 9px;
      letter-spacing: 2px;
      transition: all 0.3s ease-out;
      color: #4DDBA2;
    }
  }
</style>
