<template>
  <div class="home__nav-bar">
    <a
      class="nav-bar__avatar"
      rel="index"
      href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="57"
        viewBox="0 0 200 200">
        <g
          transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)"
          stroke="none">
          <path d="M700 1710 l0 -40 -40 0 -40 0 0 -45 0 -45 -45 0 -45 0 0 -85 0 -85
              -40 0 -40 0 0 -170 0 -170 40 0 40 0 0 -84 0 -84 45 -4 45 -3 0 172 0 173 40
              0 40 0 0 45 0 45 45 0 45 0 0 40 0 40 40 0 40 0 0 -40 0 -40 85 0 c91 0 89 -1
              87 58 -1 20 4 22 43 22 l45 0 0 -40 0 -40 85 0 85 0 0 -45 0 -45 45 0 45 0 0
              -170 0 -170 40 0 40 0 0 85 0 85 45 0 45 0 0 170 0 170 -45 0 -45 0 0 45 0 45
              -40 0 -40 0 0 85 0 85 -45 0 -45 0 0 -45 0 -45 -40 0 -40 0 0 45 0 45 -130 0
              -130 0 0 40 0 40 -40 0 -40 0 0 -40 0 -40 -45 0 -45 0 0 40 0 40 -45 0 -45 0
              0 -40z" fill="#000000"/>
          <path d="M1221 578 c1 -7 1 -52 0 -100 l-1 -88 -45 0 -45 0 0 -45 0 -45 -125
              0 -125 0 0 45 0 45 -45 0 -45 0 0 84 c0 97 1 96 -108 88 l-62 -4 0 -44 0 -44
              -45 0 -45 0 0 -40 0 -40 -40 0 -40 0 0 -45 0 -45 -45 0 -45 0 0 -85 0 -85 85
              0 85 0 0 -65 0 -65 470 0 470 0 0 65 0 65 85 0 85 0 0 85 0 85 -40 0 -40 0 0
              45 0 45 -45 0 -45 0 0 40 0 40 -40 0 -40 0 0 45 0 45 -57 0 c-67 0 -105 9 -97
              21 3 5 0 9 -6 9 -6 0 -10 -6 -9 -12z" fill="#08fdd8"/>
        </g>
      </svg>
    </a>
    <a
      class="nav-bar__burger"
      @click="menu = !menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 302 302"
        width="20"
        height="20">
        <rect y="36" width="302" height="30" fill="#37393b"/>
        <rect y="236" width="302" height="30" fill="#37393b"/>
        <rect y="136" width="302" height="30" fill="#37393b"/>
      </svg>
    </a>
    <pages-component></pages-component>
    <social-network></social-network>
    <mobile-buttons
      v-if="menu"
      class="mobile-buttons"></mobile-buttons>
  </div>
</template>

<script>
  import SocialNetwork from "./SocialNetwork";
  import PagesComponent from "./PagesComponent";
  import MobileButtons from "./MobileButtons";

  export default {
    name: "NavigationComponent",
    data() {
      return {
        menu: false
      };
    },
    components: {
      MobileButtons,
      PagesComponent,
      SocialNetwork
    }
  }
</script>

<style scoped>
  .home__nav-bar {
    background: #181818;
    width: 100%;
    height: 60px;
    z-index: 3;
    position: absolute;
  }

  .nav-bar__avatar > img {
    display: block;
    width: 60px;
    height: auto;
  }

  .nav-bar__burger {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (min-width: 768px) {
    .nav-bar__burger{
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .mobile-buttons {
      display: none;
    }

    .home__nav-bar {
      background: #181818;
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 3;
      min-height: 500px;
    }

    .nav-bar__avatar > img {
      display: block;
      margin: 5px auto;
      width: 60px;
      height: auto;
    }

  }
</style>
