<template>
  <ul class="social-network">
    <li class="social-button">
      <a
        class="social-button-link"
        target="_blank"
        href="https://twitter.com/aolSvt">
        <span class="visibility-hidden">Твиттер</span>
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="15"
        viewBox="0 0 17 15">
        <path
          d="M10.95.144c1.685-.496 2.984.27 3.577
           1.179.673-.231 1.331-.481
            2.011-.708a2.345 2.345 0 0 1-.857 1.768c.685.17
           1.304-.491 1.304-.491-.169 1-1.006 1.788-1.563
            2.024-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887
             2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228
             1.19.119C1.705 8.247.374 7.53.448 5.33c.285.328 1.067.536 1.34.472C1.085
             5.561-.182 2.442.894.85c1.818 1.854 3.735 3.606 7.152 3.773C8.254 2.33 9.183.793 10.95.144z" fill="#4DDBA2"/>
      </svg>
      </a>
    </li>
    <li class="social-button">
      <a
        class="social-button-link"
        href="#">
        <span class="visibility-hidden">Фейсбук</span>
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="15"
        viewBox="0 0 12 22">
        <path d="M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z" fill="#4DDBA2"/>
      </svg>
      </a>
    </li>
    <li class="social-button">
      <a
        class="social-button-link"
        target="_blank"
        href="https://www.linkedin.com/in/александр-сивцов-424a7212a/">
        <span class="visibility-hidden">LinkedIn</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="15"
          viewBox="0 0 430.117 430.117">
          <path d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707   c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21
            v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824   C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463   c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z
              M5.477,420.56h92.184v-277.32H5.477V420.56z" fill="#4DDBA2"/>
        </svg>
      </a>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "SocialNetwork"
  }
</script>

<style scoped>
  .social-network {
    display: none;
  }

  @media (min-width: 768px) {

  }

  @media (min-width: 1200px) {
    .social-network {
      display: block;
      position: absolute;
      bottom: 5%;
      width: 100%;
    }

    .social-button {
      padding: 5px 0;
    }
  }
</style>
