<template>
  <div
    id="app">
    <navigation-component></navigation-component>
    <router-view/>
  </div>
</template>

<script>
  import 'normalize.css';
  import NavigationComponent from "./components/NavigationComponent";

  export default {
    name: 'App',
    components: {
      NavigationComponent
    }
  }
</script>

<style>
  #app {
    /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
    font-family: 'Permanent Marker', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    background: #37393b;
  }

  input {
    outline: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  p {
    margin: 0;
  }

  a:visited,
  a:hover,
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
  }

  *::before, *::after {
    color: #515152;
    font-size: 14px;
  }

  h1 {
    margin: 0;
  }

  .visibility-hidden {
    display: none;
  }

  @media (min-width: 768px) {
    #app {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 1200px) {
    #app {
      display: flex;
      flex-direction: column;
    }
  }
</style>
